.header{
    margin:auto;
    border-radius: 20px;
    height: auto;
    text-align: center;
    width: 60%;
}
.title{
    margin:20px 0 40px 0;
    transform: rotateZ(-3deg);
}
.header h1{
    font-family: "Fredoka", sans-serif;
    font-size: 4em;
    margin: auto;
    line-height: 1em;
}
#name{
    display: flex;
    flex-direction: column;
}
.header h2{
    font-weight: 400;
}

@media (max-width:600px){
    .header{
        width: 100%;
    }
    .header h1{
        font-size: 2.4em;
    }
}