*{
    font-family:"Poppins";
    font-weight: 600; 
}
body{
    background-color: rgb(255, 247, 231);
}


.footer{
    width: 100%;
    position:absolute;
    background-color: #ffe9ca;
    right: 0px;
    border:2px solid #f6d9b3;
    bottom: 0px ;
}
.footer h3{
    text-align: center;

}