.meter{
    width:80%;
    position:relative;

}
.mintitle{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.mintitle h2{
margin-bottom: 0;
}
.bar{
    background-color: black;
    height: 2em;
    border-radius:20px;
    width:100%;
    transition:all 0.4s ease-in;
    padding: 5px;
}
.bar::before{
    content:'';
    display: flex;
    align-items: center;
    position: absolute;
    height: inherit;
    border-radius: 20px;
    width:30%;
    min-width:0%;
    max-width: calc(100% - 0.01em);
    background-color: rgb(177, 255, 108);
}

.jagronJar{
    margin-top: 20px;
    width:80%;
    border: 3px solid black;
    border-radius: 20px;
    background-color:white ;
    height:100px
}
.jar p{
    margin-top: 5px;
    margin-left: 5px;
}